.archive-all {
  padding: 5rem 0 0 0;
}

.archive-container {
  
  &:nth-child(odd) {
    @include wider-at-right-bg;
  }
  &:nth-child(even) {
    @include wider-at-left-bg;
    padding: 7rem 0 7rem 0;
  }
  /*&:last-child {
    @include wider-at-right-bg--top;
  }*/
  &:last-child:nth-child(odd) {
    @include wider-at-right-bg--top;
  }
  &:last-child:nth-child(even) {
    @include wider-at-left-bg--top;
  }

  &__inner {
    @include inner-container;
    /*display: flex;
    flex-direction: column;
    align-items: center;*/

    @include tablet-portrait-up {
      /*flex-direction: row;*/
    }
  }
  /* &:nth-child(even) .archive-container__inner {
    
    padding: 4rem 0 6rem 0;
    
  } */

}

/* .archive-post-text {
  padding: 2rem 0 0 0;
  @include tablet-portrait-up {
    padding: 0 0 0 2rem;
  }
} */

  