 @import url('https://fonts.googleapis.com/css2?family=Knewave&family=Quicksand:wght@300;400;600;700&family=Work+Sans:wght@700;800;900&display=swap'); 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  font-family: inherit;
}

html {
  background-image: url('../img/background.jpg');
  background-size: initial;
  background-repeat: no-repeat;
  background-position: top center;

  @include tablet-portrait-up {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.4;
}

.container {
  flex: 1;
}

h1 {
  font-size: 1.8em;
  line-height: 1.2;
  font-weight: normal;

  @include tablet-portrait-up {
    font-size: 2.1em;
    line-height: 1.5;
  }
}

h2 {
  margin: 32px 0 48px 0;
  font-size: 1.6em;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1.2;
}

h3 {
  margin: 0 0 16px 0;
}

p {
  margin-bottom: 32px;
}

a {
  text-decoration: none;
  color: $medium-pink;
  &:hover, &:focus {
    color: $light-pink;
  }
}


/* clear default button styling from for example iPhones */
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.btn-pink, .btn-pink-readmore {
  @include cta-button;
}
.btn-pink-readmore {
  display: inline;
  padding: 0.4rem 0.8rem;
}

.center-text {
  text-align: center;
}

.center-text-mb {
  text-align: center;
  @include tablet-portrait-up {
    text-align: left;
  }
}

.page-title {
  @include inner-container;
  padding: 0 0 3.5rem 0;
  @include main-title;
}

.basic-page {
  padding: 5rem 0 0 0;
}

.inner-content {
  @include inner-container;
}

