* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

/* html {
  background: url(img/background.jpg);
} */

/* html { */
  /* background-color: #f6c9e4; */
  /* background-color: #efb2d6; */
/* } */
html {
  background-image: url('../img/background.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  /* font-family: 'Fira Sans', sans-serif; */
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 1.5rem;
}

.container {
  flex: 1;
}

h1 {
  /* font-family: 'Quicksand', sans-serif; */
  /* font-family: 'Raleway', sans-serif; */
  /*font-family: 'Montserrat', sans-serif;
  font-weight: extra-bold;*/
  font-size: 1.7rem;
  line-height: 2rem;

  @include tablet-portrait-up {
    font-size: 2.1rem;
    line-height: 2.6rem;
  }
}

h2 {
  margin: 32px 0 32px 0;
  font-weight: 500;
}

h3 {
  margin: 0 0 16px 0;
}

p {
  margin-bottom: 32px;
}

a {
  text-decoration: none;
  color: $medium-pink;
  &:hover, &:focus {
    color: $light-pink;
  }
}
/* a:hover, a:focus {
  text-decoration: underline;
} */

a .work-sample-content {
  transition: border 0.2s ease;
}

a .work-sample-content:hover {
  /* border: #f485b7 solid 6px; */
  border: #f14995 solid 6px;
}

.btn-pink, .btn-pink-readmore {
  @include cta-button;
}
.btn-pink-readmore {
  display: inline;
  padding: 0.4rem 0.8rem;
}


.center-text-mb {
  text-align: center;
  @include tablet-portrait-up {
    text-align: left;
  }
}

.page-title {
  @include inner-container;
  padding: 0 0 3rem 0;
  @include main-title;
  
  @include tablet-portrait-up {
    padding: 0 0 5rem 0; 
  }
}

.basic-page {
  padding: 5rem 0 0 0;
}