/* general blocks */

/* buttons */
.wp-block-button__link {
  @include cta-button;
}
.btn-secondary {
  .wp-block-button__link {
    @include cta-button;
    &:link, &:visited {
      background-color: $grey;
    }
    &:hover, &:active {
      background-color: $light-grey;
    }  
  }
} 


/* Group blocks with custom background styles */

/* group block wider at right side */
.wider-at-right {
  @include wider-at-right-bg;
}
/* group block wider at right side at the top, bottom is straight */
.wider-at-right--top {
  @include wider-at-right-bg--top;
}

/* group block wider at left side */
.wider-at-left {
  @include wider-at-left-bg;
}
.wider-at-left--top {
  @include wider-at-left-bg--top;
}

/*  Group block inner container */
.wider-at-right .wp-block-group__inner-container, .wider-at-right--top .wp-block-group__inner-container, .wider-at-left .wp-block-group__inner-container, 
.wider-at-left--top .wp-block-group__inner-container {
  @include inner-container;
} 

.wide-inner-container .wp-block-group__inner-container {
  @include inner-container--wide;
}

/* Latest posts list block  */
.wp-block-latest-posts__list {
  display: flex;
  margin: 0 -0.6rem;
  flex-wrap: wrap;
  justify-content: center;
  @include tablet-portrait-up {
    justify-content: start;
  }

  li {
    margin: 0.6rem;
    
    .wp-block-latest-posts__featured-image {
      img {
        opacity: 1;
        border-radius: 5px;
        width: 300px;
        
        @include tablet-portrait-up {
          width: 200px;
        }
        @include tablet-landscape-up {
          width: 250px;
        }
        @include desktop-up {
          width: 300px;
        }
      }
    } 
    a {
      color: $black;
    }

    &:hover {
      cursor: pointer;

      .wp-block-latest-posts__featured-image {
        img {
          opacity: 0.7;
        }
      } 
   
      a {
        color: $white;
      }
    }
  }
}

/* cover image block */
.wp-block-cover {
  height: 450px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* custom styling for 2-column layout */
.wp-block-columns {
  /* background-color: $burgundy; */
  background-color: $dark-pink;
  color: $white;
  padding: 2rem;
  border-radius: 5px;
}

/* CV's About me media & text block */
.about-me {
  grid-template-columns: 1fr 2fr;
  h2 {
    margin-bottom: 32px;
  }

  .wp-block-media-text__content {
    margin-top: 2rem;
    @include tablet-portrait-up {
      margin-top: 0;
    }
  }
}

/* my custom title block */

.wp-block-jhy-custom-title {
  /* margin: 0 auto;
  width: 60%;
  padding: 4rem 0; */
  @include inner-container--wide;
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;
  margin-bottom: 5rem;

  @include tablet-portrait-up {
    flex-direction: row;
    /* align-items: flex-start;*/
  }

  &__img img {
    width: 200px;
    border-radius: 100%;
  }
  &__text {
   /* @include main-title; */
    margin: 5% 0 0 0; 
    text-align: center;
    text-shadow: 1px 1px black, 1px 1px black, 1px 1px black, 1px 1px black; 

    h1 {
      font-weight: 900; 
      font-size: 2.3em;
      line-height: 1.2;
      color: $white;
      font-family: 'Montserrat', sans-serif;
    }

    @include tablet-portrait-up {
      margin: 0 0 0 5%;
      text-align: left;
    }    
  }

}

