/* general blocks */

/* buttons */
.wp-block-button__link {
  background-color: $dark-pink;
  border: $white solid 1px;
  border-radius: 5px; 
  margin-top: 32px;
  text-transform: uppercase;

  &:hover, &:focus {
    background-color: $medium-pink;
  }
}

/* Title block = media + text block */ 
/* .wp-block-media-text {
  margin: 0 auto;
  width: 60%;
}
.wp-block-media-text__content {
  .has-large-font-size {
    color: $white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 2.1rem;
  }
} */

/* Group blocks with custom background styles */

/* group block wider at right side */
.wider-at-right {
  background-color: $black;
  color: $white;
  position: relative;
  /* z-index: 2; */
  z-index: 3;
}
.wider-at-right::before, .wider-at-right::after {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0; 
  position: absolute;
  right: 0;
  /* z-index: -1; */
  z-index: -1;
} 
.wider-at-right::before {
  top: 0;
  transform: skewY(-3deg);
  transform-origin: 0;
}
.wider-at-right::after {
  bottom: 0;
  transform: skewY(3deg);
  transform-origin: 0;
}

/* group block wider at left side */
.wider-at-left {
  background-color: $yellow;
  position: relative;
  z-index: 2;
}
.wider-at-left::after {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  bottom: 0;
  transform: skewY(-3deg);
  transform-origin: 100%;
}
/*  Group block inner container */
.wider-at-right .wp-block-group__inner-container, .wider-at-left .wp-block-group__inner-container {
  margin: 0 auto;
  width: 60%;
  padding: 4rem 0;
} 
.wider-at-left .wp-block-group__inner-container {
  padding: 6rem 0 4rem 0;
} 

/* Latest posts list block  */
.wp-block-latest-posts__list {
  display: flex;
  margin: 0 -0.6rem;

  li {
    margin: 0.6rem;
    
    .wp-block-latest-posts__featured-image {
      img {
        opacity: 1;
        border-radius: 5px;
      }
    } 
    a {
      color: $black;
    }

    &:hover {
      cursor: pointer;

      .wp-block-latest-posts__featured-image {
        img {
          opacity: 0.7;
        }
      } 
   
      a {
        color: $white;
      }
    }
  }
}

/* cover image block */
.wp-block-cover {
  height: 450px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* my custom title block */

.title-container {
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: row;

  &__img img {
    width: 200px;
    border-radius: 100%;
  }
  &__text {
    color: $white;
    margin-left: 5%;
    text-shadow: 1px 1px black, 1px 1px black, 1px 1px black, 1px 1px black;
  }
}
