.footer-background {
  background-color: #3e402f;
  color: #fff;
  /* position: relative;
  z-index: 1; */
}

.footer-container {
  @include inner-container--wide;
  padding: 2rem 0;

  @include tablet-portrait-up {
    padding: 4rem 0;
  }
}

.footer-container {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
  h2 {
    margin-top: 0;
    margin-bottom: 24px;
  }
  p {
    margin-bottom: 16px;
  }
  a {
    color: #ffffff;
    &:hover, &:focus {
      color: #e082b9;
    }
  }

  @include tablet-portrait-up {
    flex-direction: row-reverse;
  }
}

.icons {
  font-size: 1.5rem;
  padding-right: 0.3rem;
}

.footer-content-one {
  
  @include tablet-portrait-up {
    border: none;
    border-left: #e082b9 solid 2px;
    padding-left: 4%;
  }
}

.footer-content-two {
  margin-top: 8%;
  padding-top: 6%;
  border-top: #e082b9 solid 2px;

  @include tablet-portrait-up {
    border: none;
    margin: 0 4% 0 0;
    padding-top: 0;
  }
}

.copyright {
  font-size: 0.9rem;
  text-align: center;
  padding: 2%;
}