
header { 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0;
  margin-bottom: 4rem;
}

.site-name {
  text-align: center;
  width: 100%;
  font-family: 'Knewave', cursive;
  font-size: 3rem;
  line-height: 3.5rem;
  a {
    color: $dark-grey;
    text-decoration: none;
  }
  @include phone-landscape-up {
    padding: 1rem;
  }
  @include tablet-portrait-up {
    font-size: 4rem;
  }
}
